mat-form-field {
  width: 100%;
}

button {
  margin-right: 1rem;
}

mat-accordion {
  display: block;
  margin-top: 1rem;
}

mat-expansion-panel {
  p {
    display: flex;
    justify-content: space-between;
  }

  mat-icon {
    margin-left: 2rem;
    cursor: pointer;
    color: red;
  }
}

.info-text {
  margin-top: 1rem;
  text-align: center;
}
