<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
    (submit)="onRegister(registerForm)"
    #registerForm="ngForm"
    *ngIf="!isLoading"
  >
    <mat-form-field>
      <input
        matInput
        type="text"
        name="username"
        ngModel
        placeholder="Username"
        #usernameInput="ngModel"
        required
        minlength="5"
      />
      <mat-error *ngIf="usernameInput.invalid"
        >Username must be grater than 5 characters.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="password"
        ngModel
        type="password"
        placeholder="Password"
        #passwordInput="ngModel"
        required
        minlength="5"
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Password must be grater than 5 characters.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        placeholder="Email"
        #emailInput="ngModel"
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid email.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="birthday"
        ngModel
        type="date"
        placeholder="Birthday"
        #birthdayInput="ngModel"
        required
      />
      <mat-error *ngIf="birthdayInput.invalid">Please select date.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">
      Register
    </button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</mat-card>
